*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif; 
}

/* header */
header{
    display: flex;
    flex-direction: row;
    min-height: 70px;
    color: #41463D;
    background-color: #B8F2E6;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0%;
    width: 100%;
}

h1{
    color: #41463D;
    background-color: #B8F2E6;
    font-size: 50px;
}

h1 a{
    color: #41463D;
    background-color: #B8F2E6;
}

a{
    text-decoration: none;
    color: #41463D;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
    margin-right: 20px;
}

nav a:hover{
    color: #fefeff;
    transition: all 1s ease;

}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

/* footer */
footer{
    height: 90px;
    color: #41463D;
    background-color: #B8F2E6;
    margin: 50px;
    padding: 40px;
}

footer a{
    color: #41463D;
}

li a{
    color: #41463D;
    list-style-type: none;
}

ul{
    list-style-type: none;
    font-size: 20px;
}



/* body */
body{
    background-color: #6a6a6a;
}

/* body inicio */
.inicio{
    background-color: #BCC3D0;
    background-image: url(../assets/images/inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* parrafo bienvenida */
.bienvenida{
    width: 50%;
    font-size: 50px;
    font-weight: 600;
    margin: 100px auto 60px ;
    margin-left: 25%;
    color: #fff;
    cursor: default;
    text-align: center;
    
}

/* nosotros */

.nosotros{
    margin-top: 200px;
    margin-left: 20%;
    width: 60%;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease;
    cursor: default;
}

.nosotros ul img{
    height: 75px;
    width: 75px;
    margin: 10px;
}


.fondonosotros{
    background-image: url(../assets/images/pexels-roberto-colatosti-8808890.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* contacto */

.contacto{
    color: #fff;
    margin-top: 110px;
    height: 450px;
    width: 50%;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.servicios{
    background-color: #BCC3D0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif; 
}

/* clases, etiquetas... paras las cajas */
.productosOfrecidos{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 1100px;
    grid-gap: 25px;
    grid-row-gap: 25px;
    margin-top: 80px;

}

.tarjetaProducto{
    width: 100%;
    border-radius: 6px;
    margin: 20px;
    overflow: hidden;
    background: #fafafa;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    background-color: #fefeff;
    transition: all 400ms ease;
    cursor: default;
}

.tarjetaProducto:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-10%);
}

.tarjetaProducto img{
    width: 100%;
    height: 210px;
}

.tarjetaProducto .contenido{
    padding: 15px;
    text-align: center;
}

.tarjetaProducto .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}

.tarjetaProducto .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}

.tarjetaProducto .contenido button{
    margin-top: 10px;
    background-color: aqua;
    color: #41463D;
    padding: 10px;
    border: 1px solid #41463D;
}

.tarjetaProducto .contenido button:hover{
    color: #fff;
    transition: all 400ms ease;
    transform: scale(1.5);
}

/*móvil*/
@media screen and (max-width:768px){

    h1{
        font-size: 20px;
    }

    .bienvenida{
        font-size: 20px;
        margin-top: 130px;
    }

    header{
        display: flex;
        flex-direction: column;
    }

    nav a{
        font-weight: 600;
        padding-right: 5px;
        margin-right: 8px;
        ;
    }

    footer{
        height: 90px;
        margin: 25px;
        padding: 20px;

    }

    body{
        height: 400px;
    }

    .nosotros{
        margin-top: 130px;
        font-size: 15px
    }

    .nosotros ul img{
        height: 45px;
        width: 45px;
        margin: 10px;
    }

    .contacto{
        margin-top: 180px;
        height: 450px;
    
    }

    .productosOfrecidos{
        width: 100%;
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 300px 300px 300px 300px;
        margin-top: 400px;
        height: 100%;
    
    }

    .tarjetaProducto{
        width: 80%;
    }

    .tarjetaProducto img{
        height: 80px;
        width: 70%;
    }
    
    .tarjetaProducto .contenido{
        padding: 10px;
    }
    
    .tarjetaProducto .contenido p{
        line-height: 1.2;
    }
    
    .tarjetaProducto .contenido h3{
        margin-bottom: 10px;
    }
    

}

/*tablet*/
@media (min-width:768px) and (max-width:1200px) {

    header{
        display: flex;
        flex-direction: column;
    }


    h1{
        font-size: 35px;
    }

    .bienvenida{
        font-size: 30px;
    }

    .nosotros{
        margin-top: 130px;
        font-size: 25px
    }

    .productosOfrecidos{
        width: 100%;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 400px 400px;    
    }

    .tarjetaProducto{
        width: 90%;
    }

    .tarjetaProducto img{
        height: 150px;
    }
    
    .tarjetaProducto .contenido{
        padding: 10px;
    }
    
    .tarjetaProducto .contenido p{
        line-height: 1;
    }
    
    .tarjetaProducto .contenido h3{
        margin-bottom: 10px;
    }
    
    

}  




    